body {
    margin: 0;
}

.navbar h1{
    height: 100px;
    font-family: Courier;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}